@import "variables";

#__next {
  .ant-form {
    padding: 24px 70px;
    box-shadow: none;
    background-color: $white;

    .ant-form-item-label {
      padding-bottom: 0;
    }

    .form-link {
      font-size: 20px;
    }

    label {
      color: $label-color
    }
  }

  .ant-checkbox-inner {
    width: 24px;
    height: 24px;

    &:after {
      width: 9px;
      height: 16px;
      top: 40%;
      inset-inline-start: 22%;
    }
  }

  .ant-btn {
    height: 52px;
    font-weight: 600;
    font-size: 19px;
    border: none;
    border-radius: 26px;

    &-primary {
      color: $white;
    }

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: $white;
      background-color: $primary-hover;
    }

    &.small {
      height: 32px;
      font-size: 14px;
      border-radius: 16px;
    }
  }

  .ant-input:not([type="password"]),
  .ant-input-password {
    height: 40px;
  }

  @media (max-width: 767px) {
    .ant-form {
      padding: 12px;
    }
  }
}