@import "varaibles";

.ant-form {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 32px 0 rgba(0,0,0,0.75);

  .ant-form-item-label {
    padding-bottom: 0;
  }

  .form-link {
    font-size: 20px;
  }
}

.ant-btn-primary {
  color: $black;
  border: 1px solid $black;
  font-weight: 600;

  &:not(:disabled):not(.ant-btn-disabled):hover {
    color: $black;
    background-color: $primary-hover;
  }
}