@import "variables";

#__next {
  .ant-form {
    padding: 24px 70px;
    box-shadow: none;
    background-color: $white;

    .ant-form-item-label {
      padding-bottom: 0;
    }

    .form-link {
      font-size: 20px;
    }

    label {
      color: $label-color
    }
  }

  .ant-checkbox-inner {
    width: 24px;
    height: 24px;

    &:after {
      width: 9px;
      height: 16px;
      top: 40%;
      inset-inline-start: 22%;
    }
  }

  .ant-btn-primary {
    height: 52px;
    color: $white;
    font-weight: 600;
    font-size: 19px;
    border: none;
    border-radius: 26px;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: $white;
      background-color: $primary-hover;
    }
  }

  .ant-input:not([type="password"]),
  .ant-input-password {
    height: 40px;
  }
}