@import "variables";

.add-room {
  &__form {
    &__first-step {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;

      &__item {
        width: calc(50% - 12px);

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}

.auctions {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.auctions__list__skeleton,
.card {
  width: calc(25% - 24px) !important;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 10px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:first-child {
    margin-right: 24px;
  }

  @media (max-width: 1024px) {
    width: calc(50% - 12px) !important;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:first-child {
      margin-right: 24px;
    }
  }

  @media (max-width: 767px) {
    width: 100% !important;
    margin-right: 0;

    &:first-child {
      margin-right: 0;
    }
  }
}

.auctions__list__skeleton {
  height: 367px !important;
}

.card {
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 41px 0 rgba(0,0,0,0.75);
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 248px;
    border-radius: 10px;

    & > span {
      width: 100% !important;
      height: 248px !important;
      border-radius: 10px;
    }
  }

  &__body {
    width: 100%;
    padding: 8px;

    &__name {
      margin: 12px 0;
      color: $primary;
      font-size: 20px;
      font-weight: $bold;
    }

    &__main {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      margin-bottom: 12px;

      & > div {
        max-width: 50%;
        overflow: hidden;
      }

      &__price,
      &__bids {
        color: $primary;
      }

      &__price {
        font-size: 24px;
        font-weight: $bold;
      }

      &__owner,
      &__bids {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &__bids {
        padding: 0 12px;
      }

      &__owner,
      &__step {
        color: $grey-text;
        font-size: 14px;
      }

      &__step {
        margin-left: 8px;
      }
    }

    &__time {
      font-size: 14px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;

  &__item,
  &__reset {
    margin-bottom: 12px !important;
    margin-right: 18px !important;
    width: calc((100% / 3) - 12px) !important;

    @media (max-width: 767px) {
      width: 100% !important;
      margin-right: 0 !important;
    }
  }

  &__item {
    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }

  &__reset {
    padding: 6px;
    color: $grey-text;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
  }
}