@import "variables";

.registration-form,
.login-form,
.login-description {
  width: 620px;
  max-width: 620px;
  padding: 24px 70px;

  @media (max-width: 1360px) {
    width: 50%;
  }
}

.registration-form,
.login-form, {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

  @media (max-width: 1024px) {
    border-radius: 15px;
    width: 100%;
  }
}

.login-description {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 120px;
  text-align: center;
  background-color: $primary;
  color: $white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  @media (max-width: 1360px) {
    padding: 24px 40px;
  }
  
  @media (max-width: 1024px) {
    display: none;
  }
}