@import '~antd/dist/reset.css';
@import './_spacing.scss';
@import './_positions.scss';
@import './_antd.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.page {
  padding: 24px;
  min-height: 100vh;
}
