@import '~antd/dist/reset.css';
@import './_spacing.scss';
@import './_positions.scss';
@import './_antd.scss';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0);
    background-color: $primary;
  }

  h1 {
    font-size: 40px;
    line-height: 46px;
  }

  a {
    color: white;
    font-weight: 600;
    text-decoration: underline;
  }
}

.page {
  padding: 24px;
  min-height: calc(100vh - 52px);
  background-color: $grey;

  &.without-header {
    min-height: 100vh;
  }

  &__container {
    max-width: 1240px;
    margin: 0 auto;
  }
}

.w-100 {
  width: 100%;
}
